*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/AndroidManifest.xml
/app/src/main/res/values/strings.xml
/keystore/keystore
/Screenshot_20251020_003110.png
/Screenshot_20251020_003126.png
/newstore
/app/google-services.json
/keystore
/app/src/main/res/values/strings.xml
